
 <div class="container">
  <div class="row">
      <div class="col-xs-12">
    
        <h1>UREDI DRŽAVU </h1>
          <form [formGroup]="countriesForm" (ngSubmit)="onSubmit()">
              <div class="row">
                  <div class="col-sm-7 form-group">
                      <label for="name">Ime države:</label>
                      <input type="text" id="name" class="form-control"
                      formControlName="name">
                  </div>
              </div>
              <div class="row">
                   <div class="col-sm-7 form-group">
                          <label for="picture">Zastava</label>
                          <input type="text" id="picture" class="form-control"
                          formControlName="picture"
                          #picture>
                      </div>
              </div>
              <div class="row">
                  <div class="col-sm-7 form-group">
                        <img [src]="picture.value" class="img-responsive">
                     </div>
               
             </div>
              <div class="row">
                  <div class="col-sm-7 form-group">
                      <label for="abbreviation">Skraćenica :</label>
                      <input type="text" id="abbreviation" class="form-control"
                      formControlName="abbreviation">
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-7 form-group">
                      <label for="capital">Glavni grad :</label>
                      <input type="text" id="capital" class="form-control"
                      formControlName="capital">
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-7 form-group">
                      <label for="population">Broj stanovnika:</label>
                      <input type="number" id="population" class="form-control"
                      formControlName="population">
                  </div>
              </div>
  
              <div class="row">
                  <div class="col-sm-7 form-group">
                      <button type="submit" class="btn btn-success">Save</button>
                      <button type="button" class="btn btn-danger"  (click)="onCancel()">Cancel</button>
                  </div>
              </div>
          </form>
  
      </div>
  </div>
  </div>
