
.container{

    border-style: groove;

 }
 span{
     font-size: large;
     margin-left: 10px;
     color:rgb(122, 122, 199);
 }
 .row{
     margin-top: 30px;


 }
 h4{
   color:black;
     padding-left:130px;
 }

/*  img{
     padding-left: 150px;
 }
 */
 .image-cover{
  width: 300px;
  height: 200px;
  object-fit: cover;
   margin-left:100px ;
}
 .button{
  margin-left: 150px;
}
